$button-size: 250px

.container
  display: flex
  justify-content: center
  align-items: center
  height: 80vh

.button
  width: $button-size
  margin-right: 15px
  height: $button-size
  border: none
  border-radius: 0
  text-align: center
  font-size: 2rem
  cursor: pointer

  &--blue
    background-color: #3279a8
    color: white

  &--green
    background-color: #34a832
    color: white

@media screen and (max-width: 600px)
  .container
    flex-direction: column
    height: auto

  .button
    width: 100%
    margin: 10px 0
